body{
    background-color: rgb(249, 249, 249);
}


.wrapper {
    display:flex;
    flex-direction:column;
    gap:0px;

}

.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    gap:0.5rem;
    padding: 1.5rem;
    background: hsla(10,10%,10%,0.9);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.menu > a {
    flex:1 1 5rem;
    padding-right:0.25rem;
    padding-left:0.25rem;
    text-align: center;
    text-decoration:none;
    color:wheat;
}

h1 {
    font-size:2.5rem;
    text-align:center;
    margin:0px;
    padding:1.5rem 0 0 0;
    background:wheat;
    color:brown;


}

article h2 {font-size:1.5rem;
    font-weight: 700;
    margin: 1.3rem 0 1.3rem 0;
}

h3 {font: size 1rem;
    font-weight: 600;
    margin: 1.0rem 0 1.0rem 0;

}

li h4 {text-decoration: underline;
    font-weight:500;

}

.banner {
    max-width:100%;
    height:auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.social-media {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding:0 5rem 0px 5rem;
    align-items:flex-start;
    background:wheat;
}

article  {
    margin:1.5rem;
    padding:1.5rem;
    border-radius:1rem;
    background-color: white;
}


.table-content {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    margin:0px 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid darkred;
    background-color: white;
}

.item {
    flex:1 1 5rem;
    padding-right:0.5rem;
    padding-left:0.5rem;
}

.footer{
    display:flex;
    justify-content:space-around;
    background: hsla(10,10%,10%,0.9);
    gap:0.5rem;


}

.footer > a {
    text-align: center;
    text-decoration: none;
    color:wheat;

}

ul {
    list-style-position: outside;
    padding-left:1.5rem;
}
