body{
    background-color: rgb(249, 249, 249);
}


.wrapper {
    display:flex;
    flex-direction:column;
    gap:0px;

}

/* .header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 5px 30px 5px 30px;

} */

.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 30px 30px 30px 30px;
    background: hsla(10,10%,10%,0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.menu * {
    text-decoration:none;
    color:wheat;

}

h1 {
    font-size:50px;
    text-align:center;
    margin:0px;
    padding:30px 0 0 0;
    background:wheat;
    color:brown;


}

article h2 {font-size:30px;
    font-weight: 700;
    margin: 1.3rem 0 1.3rem 0;
}

h3 {font: size 20px;
    font-weight: 600;
    margin: 1.0rem 0 1.0rem 0;

}

li h4 {text-decoration: underline;
    font-weight:500;
    margin:0.8rem 0 0.8rem 0;
}

.banner {
    max-width:100%;
    height:auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.social-media {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding:0px 100px 0px 100px;
    align-items:flex-start;
    background:wheat;
}

article  {
    margin:30px;
    padding:1.5rem;
    border-radius:20px;
    background-color: white;
}


.table-content {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    margin:0px 30px 30px 30px;
    border-radius: 20px;
    border: 1px solid darkred;
    background-color: white;
}

.item {
    flex:1 1 100px;
    padding-right:10px;
    padding-left:10px;
}

.footer{
    display:flex;
    justify-content:space-around;
    background: hsla(10,10%,10%,0.9);


}

.footer * {
    text-decoration: none;
    color:wheat;

}
