

body {
    padding:unset;
    margin:unset;
    border:unset;
    font-size:unset;
    text-decoration: unset;
    box-sizing: unset;
    color:unset;

}

html {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2;
    color:hsla(10, 90%, 10%, 0.9)
}
